$primaryColor: #4b4ede;
$secondaryColor: #ffffff;

$darkPrimaryColor: #575aff;
$darkSecondaryColor: #ffffff;

$lightPrimaryColor: #5557d5;

$textPrimaryColor: #000000;
$textSecondaryColor: #2a2a2a;

$white: #ffffff;
$silver: #fbfbfb;
$litesilver: #f5f5f5;
$darksilver: #cccccc;

$darkColor: #333333;
$blackColor: #000000;
$grayColor: #4d4d4f;

// sucuces colors

$successMainColor: #58b131;
$successLightColor: #43c6b7;
$successDarkColor: #0e8074;

// Info colors

$infoMainColor: #2196f3;
$infoLightColor: #64b6f7;
$infoDarkColor: #0b79d0;

// Warning Colors

$warningMainColor: #ffb020;
$warningLightColor: #ffbf4c;
$warningDarkColor: #b27b16;

// Error Colors

$errorMainColor: #d14343;
$errorLightColor: #da6868;
$errorDarkColor: #922e2e;

// Other Colors

$headMainColor: #28a745;
$bolgurlColor: #868e96;
$bloglmccolor: #0085a1;

$doveGray: #666666;
$flushOrange: #ff8000;
$orangePeel: #ff9900;
$goblin: #398439;
$mangoTango: #ed7500;
$springWood: #f5f2ed;
$alto: #dbdbdb;
$red: #ff0000;
$eucalyptus: #28a745;
$emperor: #555555;
$codGray: #1d1d1d;
$earlsGreen: #c1c1c13b;
$pepperMint: #dff0d8;
$killarney: #3c763d;
$limeade: #789a02;
$grayLight: #808080;
$japaneseLaurel: #008000;
$berylGreen: #d6e9c6;
$darkAlto: #dddddd;
$silverChalice: #adabab;
$wildSand: #f5f5f5;
$laPalma: #0cad0c;
$atlantis: #8ae234;
$mercury: #e6e6e6;
$tableRowColor: #ebebeb;
$grayColorTable: #8b8b8b;

$lightGallery: #eeeeee;
$doveGray: #666666;
$mainSilver: #bbbbbb;
$mangoTango: #ed7500;
$orangePeel: #f90;
$blackRussian: #00000008;
$dustyGrey: #989696;
$alto: #d7d7d7;
$heatheredGrey: #bcac93;
$altoLight: #d3d3d3;
$bilBao: #187716;
$gallery: #f0f0f0;
$trout: #495057;

$eucalyptus: #28a745;
$osloGray: #868e96;
$deepCerulean: #0085a1;

$lightGray: #f2f2f2;
$grayColor: #c2c2c2;

$Eucalyptus: #28a745;
$Alto: #dddddd;

$liteGrayColor: #adabab;
$OsloGrey: #7f8c8d;

$greenColor: #008000;
$litgreenColor: #078604ad;
$defenseGreen: #84a513;
$brownBranble: #603b04;
$alesanColor: #f2d0b5;
$lightGrayColor: #e6e2e2e0;
$Salem: #039138;

$brightYellowColor: rgb(255, 255, 0);
$darkYellowColor: rgb(212, 212, 25);
$creamColor: rgb(230, 229, 203);
